<div class="container">
	<h1>ui-scheduler</h1>
	<h2>A ember-cli addon derived from the popular <a href="http://fullcalendar.io/">FullCalendar</a> javascript library</h2>

	<h3>Description</h3>
	<p>	
		This component starts by wrapping the FullCalendar functionality with a component called <code>ui-scheduler</code> and then there are a few
		subclasses of this base component that are layered on top to provide more targetted use cases:
		<ul>
			<li>
				<code>ui-reschedule</code> helps to address the scenario where you want to rebook a meeeting for a different time and while being able 
				to see other events on your diary (to make an informed choice on when to rebook), only the meeting <i>being</i> rebooked is movable. 
				View will default to week-agenda view.
			</li>
			<li>
				<code>ui-date-chooser</code> a read-only calendar (defaults to month view) for seeing an overview of events but with the goal of 
				letting a user "choose" a date to focus on. 
			</li>
		</ul>
	</p>
	<h3>Usage</h3>
	There are three considerations in using this components:
	<ol>
		<li>Configuring the stage</li>
		<li>Updating the events on the stage</li>
		<li>Listening to stage events</li>
	</ol>
	
	We will now briefly discuss each ...
			
	<h4>Configuring the Stage</h4>
	<h4>Updating the events on the stage</h4>
	An event is defined as an array of POJO objects:
<pre>
[
	{ 
		id: 1234, 
		title: 'Ate lunch', 
		message: 'went to mcdonalds and had the meal of my life', 
		start: '2014-12-31 12:00:00'
		end: '2014-12-31 13:00:00'
	},
	// etc.
]
</pre>

	<h4>Listening to stage events</h4>

	
</div>

<div class="container">
	{{ui-scheduler stage=stageConfig events=eventData}}
</div>